:root {
  background-color: #242424;
  text-rendering: optimizeLegibility;

  /* colors */
  --accent: 183 74% 44%;
  --text: 185 26% 9%;
  --muted: 183 8% 55%;
  --light: 180 14% 85%;
  --warning: 4 66% 63%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background-image: url(../../public/assets/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

html body {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.1;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: hsl(var(--text));
}

#sidebar {
  display: flex;
  flex: 1;
}

.items-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: transparent;
  }
}
