.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 5rem auto;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .items-container {
    grid-template-columns: 1fr 1fr;
  }
}
