.container {
  width: 100vw;
  padding: 1rem;
}
.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.left-wrapper {
  position: relative;
}

@media screen and (max-width: 768px) {
  .items-container {
    max-width: 60%;
    grid-template-columns: 1fr 1fr;
  }
}
