.item-card {
  border-radius: 25%;
  padding: 0.5rem;
}

.item-image {
  width: auto;
  max-width: 100%;
  height: 100px;
}

.item-image:hover {
  width: auto;
  max-width: 100%;
  height: 100px;
  transform: scale(1.1);
}
