#overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 600px) {
  .itemsContainer {
    max-width: 60%;
    grid-template-columns: 1fr 1fr;
  }
}
