.search-container {
  padding: 1rem;
}

.search-input {
  margin: 1rem 0;
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem;
  padding-left: 1.5rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.search-btn {
  border: 1px solid #d3cffa;
  background-color: #fff;
  margin-bottom: 1rem;
}

.search-btn:hover {
  background-color: #b4a4f4;
  transition: 500ms;
}

.search-btn:active {
  transform: translateY(-20%);
}

.search-icon-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 6px;
  color: #6c6c6c;
  padding-right: 0.7rem;
  transform: translateY(-50%);
}
