* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1170px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background-image: url(./assets/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

